html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.lead {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 1.65rem;
}

#horoscope {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 1.2rem;
}

/* BACKGROUND IMAGE */
#background {
    background-image: url('../img/background.jpg');
}

/* LINKS */
a {
    color: gold;
}

a:hover{
    color: fuchsia;
}

/* TOP OF PAGE */
.top {
    background: transparent;
    border-bottom: solid 1px transparent;
}

#symbol {
    max-width: 20%;
}

#userinfo {
    border-bottom: solid 1px transparent;
}

